<!DOCTYPE html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="__CSS__/font.css">
    <link rel="stylesheet" href="__CSS__/xadmin.css">
    <script src="__LIB__/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__JS__/xadmin.js"></script>
    <!--<script src="__LIB__/bootstrap/js/bootstrap.js"></script>-->
    <link rel="stylesheet" href="__LIB__/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="__CSS__/zoomify.min.css">

    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="x-nav">
    <!--<span class="layui-breadcrumb">-->
    <!--<a href="">首页</a>-->
    <!--<a href="">演示</a>-->
    <!--<a>-->
    <!--<cite>导航元素</cite></a>-->
    <!--</span>-->
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <!--<div class="layui-inline layui-show-xs-block">-->
                    <!--<input class="layui-input"  autocomplete="off" placeholder="开始日" name="start" id="start">-->
                    <!--</div>-->
                    <!--<div class="layui-inline layui-show-xs-block">-->
                    <!--<input class="layui-input"  autocomplete="off" placeholder="截止日" name="end" id="end">-->
                    <!--</div>-->

                    <!--<button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>-->
                    <div class="layui-inline layui-show-xs-block">
                        <input type="text" name="searchword"  placeholder="请输入用户ID或标题关键字" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-inline layui-show-xs-block" onclick="dosearch()">
                        <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                    </div>

                </div>
                <div class="layui-card-body layui-table-body layui-table-main" id="tablebox">
                    <table class="layui-table layui-form" id="pretable">
                        <thead>
                        <tr>
                            <th>用户ID</th>
                            <th>昵称</th>
                            <th>标题</th>
                            <th>封面</th>
                            <th>状态</th>
                            <th>操作</th></tr>
                        </thead>
                        <tbody>
                        {volist name="contents" id="user"}
                        <tr>
                            <td>{$user.uid}</td>
                            <td>{$user.nickname}</td>
                            <td id="tid{$user.id}">{$user.title}</td>
                            <td><img src="http://app.tiaociapp.com/{$user.url}" alt="" style="width: 50px;"></td>
                            {if condition="$user.status eq 0"}
                            <td id="state{$user.id}">已被删除</td>
                            <td class="td-manage">

                                <a title="恢复显示" onclick="member_re(this,{$user.id})" href="javascript:;">
                                    <i class="iconfont">&#xe6f3;</i>
                                </a>
                            </td>
                            {else /}
                            <td id="state{$user.id}">正常显示</td>
                            <td class="td-manage">
                                <a title="查看详情"  onclick="xadmin.open('查看详情','{:url(\'/index/index/contentdetail/cid/\'.$user.id)}',600,500)" href="javascript:;">
                                    <i class="layui-icon">&#xe642;</i>
                                </a>
                                <a title="删除" onclick="member_del(this,{$user.id})" href="javascript:;">
                                    <i class="layui-icon">&#xe640;</i>
                                </a>
                            </td>
                            {/if}

                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                </div>
                <div class="text-center text-info" id="prepage">
                    {$contents->render()}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="__JS__/jquery.js"></script>

<script src="__JS__/zoomify.min.js"></script>
<script>
    $('td img').zoomify();
    layui.use(['laydate','form'], function(){
        var laydate = layui.laydate;
        var  form = layui.form;
        // 监听全选
        form.on('checkbox(checkall)', function(data){
            if(data.elem.checked){
                $('tbody input').prop('checked',true);
            }else{
                $('tbody input').prop('checked',false);
            }
            form.render('checkbox');
        });
        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });
        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
    });

    //接受更新
    function setT(title,cid){
        $("#tid"+cid).text(title)
    }

    //搜搜用户
    function dosearch() {
        let word = $('[ name="searchword"]').val()
        console.log(word)
        if(!word){
            return;
        }else{
            $.post("{:url('searchContent')}",{'word': word},function (res) {
                console.log(res)
                if(res.status == 200 && res.data && res.data.length>0){
                    $('#pretable').remove()
                    $('#prepage').remove();
                    let _html = `<table class="layui-table layui-form" id="pretable">
                                <thead>
                                  <tr>
                          <th>用户ID</th>
                            <th>昵称</th>
                            <th>标题</th>
                            <th>封面</th>
                            <th>状态</th>
                            <th>操作</th></tr>
                          </thead>
                          <tbody>`
                    for(let i=0;i<res.data.length;i++){
                        let item = res.data[i]
                        _html +=`<tr>
                          <td>${item.uid}</td>
                          <td>${item.nickname}</td>`
                        _html += `<td>${item.title}</td>
                           <td><img src="http://app.tiaociapp.com/${item.coverimg}" alt=""></td>`
                        if(item.status == 0){
                            _html += `<td id="state${item.cid}">已被删除</td>
                            <td class="td-manage">
                            <a title="查看详情"  onclick="xadmin.open('查看详情','/public/index.php/index/index/contentdetail/cid/'+${item.cid},600,500)" href="javascript:;">
                            <i class="layui-icon">&#xe642;</i>
                        </a>
                        <a title="恢复显示" onclick="member_re(this,${item.cid})" href="javascript:;">
                            <i class="iconfont">&#xe6f3;</i>
                        </a>
                        </td>`
                        }else{
                          _html += `<td id="state${item.cid}">正常显示</td>
                            <td class="td-manage">
                            <a title="查看详情"  onclick="xadmin.open('查看详情','/public/index.php/index/index/contentdetail/cid/'+${item.cid},600,500)" href="javascript:;">
                            <i class="layui-icon">&#xe642;</i>
                        </a>
                        <a title="删除" onclick="member_del(this,${item.cid})" href="javascript:;">
                            <i class="layui-icon">&#xe640;</i>
                        </a>
                        </td>`
                        }
                    }
                    _html +=` </tbody>
                          </table>`
                    $('#tablebox').html(_html)
                }else{
                    layer.msg('没有更多结果了',{icon: 0, time: 1000})
                }
            })
        }
    }

    /*用户-删除*/
    function member_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            //发异步删除数据
            $.post("{:url('delContent')}",{cid: id},function (res) {
                if(res.status == 200){
                    // $(obj).parents("tr").remove();
                    $('#state'+id).text('已删除')
                    layer.msg('已删除!',{icon:1,time:1000});
                }else{
                    layer.msg('请重试!',{icon:0,time:1000});
                }
            })

        });
    }
    function member_re(obj,id){
        layer.confirm('确认要恢复展示吗？',function(index){
            //发异步删除数据
            $.post("{:url('reContent')}",{cid: id},function (res) {
                if(res.status == 200){
                    // $(obj).parents("tr").remove();
                    $('#state'+id).text('正常显示')
                    layer.msg('已恢复!',{icon:1,time:1000});
                }else{
                    layer.msg('请重试!',{icon:0,time:1000});
                }
            })

        });
    }


</script>
</html>